.textfield {

  &__error-message {

    &--hidden {
      display: none;
    }

    &--show {
      color: $primary-dark;
      display: inline;
    }
  }
}

@keyframes fadeIn {
  0%, 100% {
    opacity: 0.2;
  }

  50% {
    opacity: 1;
  }
}

.pulse {
  animation: fadeIn 1.4s infinite;
}

#output::before {
  content: ">> ";
}
