<div class="wrapper-small">
  <form>
    <h1>Saying Hello</h1>
    <label class="textfield">
      <span class="textfield__label pulse">Enter first name. Then press enter.</span>
      <input id="name" autocomplete="off" required/>
      <span id="name-error" class="textfield__error-message--hidden"></span>
    </label>
  </form>
  <p id="output"></p>
</div>
