<div class="row marketing">

  <div class="col-lg-6">
    <h4>Resources</h4>
    <ul>
      <li>
        <a href="/tip-calc">01-tip-calc</a>
      </li>
      <li>
        <a href="http://hexdocs.pm/phoenix">Docs</a>
      </li>
      <li>
        <a href="https://github.com/phoenixframework/phoenix">Source</a>
      </li>
    </ul>
  </div>

</div>
